<header class="header">
    <div class="header__top-wrapper">
        <div class="container header__container">
            <div class="header__top">
                <a href="#" class="header__logo">
                    <img src="/images/logo-icon.svg" alt="РумТибет" class="header__logo-img">
                    <span class="header__company-name">{{ companyName }}</span>
                </a>
                <nav class="header__nav">
                    <a href="#" class="header__nav-link header__nav-link--active">Главная</a>
                    <a href="#" class="header__nav-link">Про гида</a>
                    <a href="#" class="header__nav-link">Программа тура</a>
                    <a href="#" class="header__nav-link">Стоимость</a>
                    <a href="#" class="header__nav-link">Блог</a>
                    <a href="#" class="header__nav-link">Контакты</a>
                </nav>
                <button class="header__btn">Консультация</button>
            </div>
        </div>
    </div>
    <div class="container header__container header__container--bottom">
        <div class="header__bottom">
            <h1 class="header__title">
                Насладись прогулкой в горах<br>
                с командой единомышленников
            </h1>
            <div class="header__form">
                <div class="header__field">
                    <div class="header__field-top">
                        <span>Локация для тура</span>
                        <img src="/images/arrow-icon.svg" alt="иконка стрелка">
                    </div>
                    <span class="header__field-desc">выберите из списка</span>
                </div>
                <div class="header__field">
                    <div class="header__field-top">
                        <span>Дата похода</span>
                        <img src="/images/calendar-icon.svg" alt="иконка мини-календарь">
                    </div>
                    <span class="header__field-desc">укажите дату</span>
                </div>
                <div class="header__field">
                    <div class="header__field-top">
                        <span>Участники</span>
                        <img src="/images/arrow-icon.svg" alt="иконка стрелка">
                    </div>
                    <span class="header__field-desc">выберите из списка</span>
                </div>
                <div class="header__bottom-btn">
                    <button class="header__bottom_btn-text">Найти программу</button>
                </div>
            </div>
        </div>
    </div>
</header>