@use './fonts';
@use './normalize';
@use './mixins';

* {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
    list-style: none;
}

.container { 
    max-width: 1180px;
    margin: 0 auto;
}

:root {
    --primary-color: #FDFDFD;
    --secondary-color: #18121E;
    --additional-color: #1A3E3E;
    --additional-orange-color: #F2BE22;
    --beige-color: #F3F5F4;
}